---
pageable: true
---

!!!
%html{ dir: 'ltr', lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %title= current_page.data.title || 'Conney the Corgi!'
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: 'Sean Eshbaugh', name: 'author' }
    = stylesheet_link_tag 'site', media: 'all'
    = javascript_include_tag 'site'
    = favicon_tag 'favicon.ico'
    %link{ href: '/humans.txt', rel: 'author' }
  %body
    %header.main-header{ role: 'banner' }
      %a.brand-logo{ href: '/' } Conney the Corgi!
      %nav.main-header-nav{ role: 'navigation' }
        .nav-wrapper.container
          %ul.main-header-nav-list.hide-on-med-and-down.center
            %li.main-header-nav-list-item
              %a.main-header-nav-list-item-link{ href: '/pictures.html' } Pictures
            %li.main-header-nav-list-item
              %a.main-header-nav-list-item-link{ href: '/about.html' } About
          %ul#nav-mobile.sidenav
            %li
              %a{ href: '/pictures.html' } Pictures
            %li
              %a{ href: '/about.html' } About
          %a.sidenav-trigger{ href: '#', onclick: 'return false;', 'data-target' => 'nav-mobile' }
            %i.material-icons menu
    %main.main-content.container{ role: 'main' }
      .row
        = yield
    %footer.main-footer.page-footer
      .main-footer-credit.container{ role: 'contentinfo' }
        .row
          .col.s12 Created with <a href="https://middlemanapp.com/" target="_blank">Middleman</a> by <a href="https://seaneshbaugh.com/" target="_blank">Sean Eshbaugh</a>. Fork me on <a href="https://github.com/seaneshbaugh/conneythecorgi" target="_blank">GitHub</a>!
