= wrap_layout :layout do
  %article.post.col.s12
    %header.post-header.row
      .col.s12.l9
        %h1.post-title= current_article.title
      .col.l2.hide-on-med-and-down
        %span.post-author= "by #{current_article.data.author}"
      .col.m1.hide-on-med-and-down
        %time.post-date
          %span.post-date-day= current_article.date.strftime('%d')
          %span.post-date-month= current_article.date.strftime('%b')
          %span.post-date-year= current_article.date.strftime('%Y')
      .col.s12.hide-on-large-only
        %span.post-metadata
          %span.posty-author= "by #{current_article.data.author} at " |
          %time.post-date= current_article.date.strftime('%Y/%m/%d')
    .post-body.row
      .col.s12
        = yield
    %footer.post-footer.row
      .col.s12
        .post-tags
          - blog.tags.each do |tag|
            %a{ href: tag_path(tag) }= tag
