---
title: "We made what we like to call: Chicken Parmigiana Cookies (fancy"
date: 2012/04/28 19:25:00
author: Casie
tumblr_id: 21995522210
tags: dog, corgi, dog treats, diy dog treats, tumblr, reblogged
---

%p.center
  %a{ href: '/uploads/pictures/tumblr_m37c1gUQtk1qhi0yco1_1280.jpg' }
    %img{ alt: 'queenshiba: We made what we like to call: Chicken Parmigiana Cookies (fancy name eh?) Yuki loves them!Yields about 15 large', src: '/uploads/pictures/medium_tumblr_m37c1gUQtk1qhi0yco1_1280.jpg', title: 'queenshiba: We made what we like to call: Chicken Parmigiana Cookies (fancy name eh?) Yuki loves them!Yields about 15 large' }/
%p
  %a.tumblr_blog{ href: 'http://queenshiba.tumblr.com/post/21991047261/we-made-what-we-like-to-call-chicken-parmigiana' }> queenshiba
  \:
%blockquote
  %p
    We made what we like to call: Chicken Parmigiana Cookies (fancy name eh?) Yuki loves them!
    %br/
    = succeed "Yields" do
      %br/
    = succeed "-" do
      %br/
    = succeed "-" do
      %br/
    = succeed "-" do
      %br/
    = succeed "-" do
      %br/
    = succeed "-" do
      %br/
    = succeed "(Preheat" do
      %br/
    %br/
    = succeed "1." do
      %br/
    %br/
    = succeed "2." do
      %br/
    %br/
    = succeed "3." do
      %br/
    %br/
    = succeed "4." do
      %br/
    %br/
    = succeed "5." do
      %br/
    %br/
    = succeed "6." do
      %br/
%p This sounds awesome! Thanks for posting the recipe. I happen to have all the ingredients in the kitchen…Conney might get a special treat!
