---
title: Conney the Corgi!
pageable: true
---

- page_articles.each do |article|
  %article.post
    %header.post-header.row
      .col.s12.l9
        %h1.post-title
          %a{ href: article.url }= article.title
      .col.l2.hide-on-med-and-down
        %span.post-author= "by #{article.data.author}"
      .col.l1.hide-on-med-and-down
        %time.post-date
          %span.post-date-day= article.date.strftime('%d')
          %span.post-date-month= article.date.strftime('%b')
          %span.post-date-year= article.date.strftime('%Y')
      .col.s12.hide-on-large-only
        %span.post-metadata
          %span.posty-author= "by #{article.data.author} at " |
          %time.post-date= article.date.strftime('%Y/%m/%d')
    .post-body.row
      .col.s12
        = article.body
    %footer.post-footer.row
      .col.s12
        %span.read-more
          %a{ href: article.url } Read more
      .col.s12
        .post-tags
          Tags: |
          = article.tags.map { |tag| link_to(tag, tag_path(tag)) }.join(', ')
- if paginate
  .paginate.row
    .col.s12
      - if prev_page
        %span.prev
          %a{ href: prev_page.url } Prev
      - if next_page
        %span.next
          %a{ href: next_page.url } Next
